.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.about-page-main {
  display: flex;
  flex-direction: column;
}

.about-section {
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.453);
  background-color: #c6c6c657;
  .about-section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    .text-box {
      margin: 20px;
      padding: 6px;
      height: 90%;
      width: 95%;
      background-color: white;
      border-radius: 4px;
      font-family: 'Shadows Into Light', cursive;
    }
  }
  .about-section-picture {
    img {
      max-width: 100%;
      max-height: 700px;
      object-fit: fill;
      border-radius: 6px;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.453);
    }
  }
}

// .about-section.first {

// }
// .about-section.second {

// }
// .about-section.third {

// }
// .about-section.fourth {

// }
// .about-section.fifth {

// }



// Smallest device
@media (min-width: 100px) and (max-width: 600px) {

  .about-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .about-section.third {
    padding-left: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 600px) and (max-width: 990px) {
  .about-page {
    .about-section.second {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      .text-box {
        width: 90%;
      }
    }
    .about-section.fourth {
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      .text-box {
        width: 95%;

      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about-page {
    .about-section.second {
      justify-content: flex-end;
      padding: 10px;

    }
    .about-section.fourth {
      justify-content: flex-end;
      padding: 10px;
    }
  }

}

  // background: url("stars.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
