body {
  margin: 0px;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("photo-one.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.home-header-container {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
}
.links-header {
  display: flex;
  padding-bottom: 20px;
  line-height: 30px;

  .link {
    margin: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.688);
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
 }
  .link:hover {
    opacity: 0.6;
  }
}
.logo {
  margin: 10px;
  padding: 10px;
  border-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(255, 255, 255);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
}

.home-body-container {
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  padding: 20px;
  height: calc(100vh - 180px)
}

.footer-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;

  .footer-icon {
    padding: 10px;
    margin: 0px 10px;
    i {
      color: rgba(255, 255, 255, 0.637);
    }
    i:hover {
      opacity: 0.6;
    }
    }
  }



  @media (min-width: 100px) and (max-width: 600px) {

  }

  @media (min-width: 600px) and (max-width: 990px) {

  }

  @media (min-width: 992px) {


  }
