body {
  margin: 0px;
}

.home-page-container {
  background-image: url("photo-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.home-header-container {
  display: flex;
  padding: 20px;
  margin: 0px 15px;
  justify-content: space-between;
  align-items: center;
}
.links-header {
  display: flex;
  padding: 20px;
  line-height: 30px;

  .link {
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
 }

  .link:hover {
    opacity: 0.8;
  }
}
.logo {
  padding: 12px;
  // margin-left: 10px;
  border-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(255, 255, 255);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
}

.home-body-container {
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  padding: 20px;
  height: calc(100vh - 180px)
}

.footer-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-icon {
    padding: 10px;
    margin: 0px 30px;
    i {
      color: rgba(255, 255, 255, 0.93);
    }
    i:hover {
      opacity: 0.8;
    }
    }
  }
