.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.portfolio-page-container {
  display: flex;
  flex-direction: column;
  // background-color: black;
  background-image: url("vintage-cinema.jpg"), url("lanterns.jpg");
  background-blend-mode: exclusion;
  margin: 10px 0px;
}

.video-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  h1 {
    font-family: 'Shadows Into Light', cursive;
  }
  .showreel {
    width: 70%;
    margin-top: 20px;
    border-radius: 8px;
  }
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .photo-box {
    opacity: 0.9;
    // border-radius: 6px;
    margin: 20px;
    height: 225px;
    width: 400px;
    background-image: url("logo.png");
    // background-blend-mode: multiply;
    // background-repeat: no-repeat;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  }
}



@media (min-width: 100px) and (max-width: 1000px) {
  .video-box {
    .showreel {
      width: 95%;
    }
  }
  .photos-container {
    .photo-box {
      // height: 100px;
      width: 500px;
    }
  }
}

// @media (min-width: 600px) and (max-width: 1000px) {

// }
