.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.portfolio-page-container {
  display: flex;
  flex-direction: column;
  // background-color: black;
  background-image: url("vintage-cinema.jpg"), url("lanterns.jpg");
  background-blend-mode: exclusion;
  margin: 10px 0px;
}

.video-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  h1 {
    font-family: 'Shadows Into Light', cursive;
  }
  .showreel {
    width: 60%;
    margin-top: 20px;
    border-radius: 8px;
  }
}

@media (min-width: 100px) and (max-width: 1000px) {
  .video-box {
    .showreel {
      width: 90%;
    }
  }
}

// @media (min-width: 600px) and (max-width: 1000px) {

// }
