<div class="home-page-container">
  <div class="home-header-container">




    <div class="logo">
      <%= image_tag("yz-logo-first.png") %>
    </div>



    <div class="clock">
    <script type="javascript" src="app/assets/javacsript/clock.js"> </script>
      <div class="clock-face">
        <div class="hand hour-hand"></div>
        <div class="hand min-hand"></div>
        <div class="hand second-hand"></div>
      </div>
    </div>



    <div class="links-header">
      <%= link_to "Know more about us", about_path, class: 'link' %>
      <%= link_to "Meet our team", contact_path, class: 'link'  %>
    </div>
  </div>

  <div class="home-body-container">




  </div>
</div>
