<div class="home-page-container">
  <div class="home-header-container">

    <div class="logo">Logo of some kind
    </div>

    <div class="links-header">
      <%= link_to "Know more about us", about_path, class: 'link' %>
      <%= link_to "Meet our team", contact_path, class: 'link'  %>
    </div>
  </div>

  <div class="home-body-container">



  </div>
  <div class="footer">

  </div>
</div>
