
<div class="home-page-container">

  <div class="home-main-container  ">


      <div class="title-name">
        <h1>Quanna</h1>
        <h1>Luo</h1>
        <h1>Masterson</h1>
      </div>


  </div>

    <div class="link-buttons">
      <%= link_to "About me", about_path, class: 'link' %>
      <%= link_to "Portfolio", portfolio_path, class: 'link'  %>
      <%# <%= link_to "contact", contact_path, class: 'link'  %>
    </div>

</div>
