.header {
  // position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  height: 30px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;

    span:nth-child(1) {
      color: red;
    }
  }

  .header-links {
    display: flex;
    align-items: center;

    .link-to-home {
      text-decoration: none;
      color: black;
      font-family: 'Source Code Pro', monospace;
      margin: 0px 10px;
    }
    .link-to-about {
      text-decoration: none;
      color: black;
      font-family: 'Source Code Pro', monospace;
      margin: 0px 10px;
    }
    .link-to-portfolio {
      text-decoration: none;
      color: black;
      font-family: 'Source Code Pro', monospace;
      margin: 0px 10px;
    }
    .link-to-contact {
      text-decoration: none;
      color: black;
      font-family: 'Source Code Pro', monospace;
      margin: 0px 10px;
    }
  }

  .link-to-portfolio:hover {
    opacity: 0.6;
  }
  .link-to-about:hover {
    opacity: 0.6;
  }
  .link-to-home:hover {
    opacity: 0.6;
  }
  .link-to-contact:hover {
    opacity: 0.6;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  .logo {
    margin-right: 20px;
  }
}
